.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 40px;
    margin-top: 100px;

    img {
        width: 200px;
    }
}

.login-container {
    margin-top: 80px;

}

.login-input {
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 1);
    padding: 15px;
}

.login-btn {
    background-color: rgba(0, 107, 144, 1);
    color: rgba(255, 255, 255, 1);
    padding: 15px 20px;
    text-align: center;
    margin-top: 60px;
    border-radius: 7px;
    font-size: 22px;
    font-family: Inter;
    font-weight: 600;
}

.req-btn {
    background-color: rgba(0, 107, 144, 1);
    color: rgba(255, 255, 255, 1);
    padding: 15px 20px;
    text-align: center;

    border-radius: 7px;
    font-size: 22px;
    font-family: Inter;
    font-weight: 600;
}

.login-ftr-text {
    font-size: 18px;
    font-weight: 500;
    font-family: Inter;
    margin-top: 100px;
    // color: rgba(255, 255, 255, 1);
}

.input-grp {
    margin-top: 50px;
}