<app-header></app-header>

<ion-content [fullscreen]="true">
   <div class="content">
      <div class="content-head d-flex align-items-center">
         <img src="assets/arrow-left.png" (click)="goToDashboard()">
         <div class="fs-20-600 ms-4">In-Progress Job Orders</div>
      </div>
      <div class="content-body mt-3">
          <div class="card card-progress-jo mb-2">
            <div class="d-flex align-items-center">
              <div class="fs-14-300">Id: #2563147</div>
              <div class="fs-16-400 ms-auto">Dated: 02-09-2025</div>
            </div>
            <div class="d-flex align-items-center mt-2">
              <div class="fs-16-400">Job Order Title</div>
              <div class=" ms-auto">
                <div class="blue-btn">In-Progress</div>
              </div>
            </div>
            <div class="d-flex align-items-center mt-2">
              <div class="fs-14-300">ETC: 03-09-2025</div>
              <div class=" ms-auto">
                <div class="blue-btn">On-time</div>
              </div>
            </div>

          </div>
          
          <div class="card card-progress-jo mb-2">
            <div class="d-flex align-items-center">
              <div class="fs-14-300">Id: #2563147</div>
              <div class="fs-16-400 ms-auto">Dated: 02-09-2025</div>
            </div>
            <div class="d-flex align-items-center mt-2">
              <div class="fs-16-400">Job Order Title</div>
              <div class=" ms-auto">
                <div class="violet-btn">Initiated</div>
              </div>
            </div>
            <div class="d-flex align-items-center mt-2">
              <div class="fs-14-300">ETC: 03-09-2025</div>
              <div class=" ms-auto">
                
              </div>
            </div>

          </div>

          <div class="card card-progress-jo mb-2">
            <div class="d-flex align-items-center">
              <div class="fs-14-300">Id: #2563147</div>
              <div class="fs-16-400 ms-auto">Dated: 02-09-2025</div>
            </div>
            <div class="d-flex align-items-center mt-2">
              <div class="fs-16-400">Job Order Title</div>
              <div class=" ms-auto">
                <div class="waiting-btn">Waiting for RM</div>
              </div>
            </div>
            <div class="d-flex align-items-center mt-2">
              <div class="fs-14-300">ETC: 03-09-2025</div>
              <div class="ms-auto">
                 <div class="blue-btn">Delay</div>
              </div>
            </div>

          </div>

          <div class="card card-progress-jo mb-2">
            <div class="d-flex align-items-center">
              <div class="fs-14-300">Id: #2563147</div>
              <div class="fs-16-400 ms-auto">Dated: 02-09-2025</div>
            </div>
            <div class="d-flex align-items-center mt-2">
              <div class="fs-16-400">Job Order Title</div>
              <div class=" ms-auto">
                <div class="blue-btn">In-Progress</div>
              </div>
            </div>
            <div class="d-flex align-items-center mt-2">
              <div class="fs-14-300">ETC: 03-09-2025</div>
              <div class=" ms-auto">
                <div class="blue-btn">On-time</div>
              </div>
            </div>

          </div>


      </div>
   </div>
</ion-content>

<app-footer class="m-2"></app-footer>
