<ion-footer [translucent]="true">
  <ion-toolbar>
    <div class="footer">
      <div>
        <img src="assets/menu.png">
      </div>
      <div>
        <img src="assets/proposal.png" (click)="goToInprogress()">
      </div>
      <div>
        <img src="assets/home.png" (click)="dashBoard()">
      </div>
      <div>
        <img src="assets/report.png">
      </div>
      <div>
        <img src="assets/user.png" (click)="goToUserProfile()">
      </div>
    </div>
  </ion-toolbar>

</ion-footer>