<ion-header>
  <app-header></app-header>
  <div class="content-head d-flex align-items-center">
    <img src="assets/arrow-left.png" (click)="goBack()">
    <div class="fs-20-600 ms-4">Job Order Status Detail</div>
  </div>
  @if(from === 'processplan'){
  <div class="content-sec-card">

    @if(dirConvertion){
    <div class="content-sec-modern">
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <!-- Row 1: Product ID & Product Name -->
            <ion-row>
              <ion-col size="6" class="info-col">
                <div class="info-label">Product ID</div>
                <div class="info-value">{{processid?.refn}}</div>
              </ion-col>
              <ion-col size="6" class="info-col right-align">
                <div class="info-label">Product Name</div>
                <div class="info-value">{{processid?.ina}}</div>
              </ion-col>
            </ion-row>

            <!-- Row 2: Job Order No & Date -->
            <ion-row>
              <ion-col size="6" class="info-col">
                <div class="info-label">Job Order No</div>
                <div class="info-value">{{processid?.jono}}</div>
              </ion-col>
              <ion-col size="6" class="info-col right-align">
                <div class="info-label">Date</div>
                <div class="info-value">{{processid?.joed}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
    }





  </div>

  }
</ion-header>

<ion-content [fullscreen]="true">
 
  <div class="content p-0">
    @if(from === 'processplan'){
    <ion-card>
      <ion-card-content class="modern-section">
        <div class="process-caption d-flex align-items-center">
          <div>
            <div class="caption-label">Process Name</div>
            <div class="caption-value">
              <ion-icon name="briefcase-outline"></ion-icon>

              @if (dirConvertion) {
              {{ processentry?.pna }}
              } @else {
              {{ detailData?.processname }}
              }
            </div>
          </div>
          @if(from === 'processplan' || from === 'processcompleted' || from === 'inspection'){
          <div class="ms-auto">
            <div class="caption-label">Status</div>
            @if(this.from === 'processplan'){
            <div class="status-bg"> Open</div>
            }
            @if(this.from === 'processcompleted'){
            <div class="status-bg"> Inprocess</div>
            }
            @if(this.from === 'inspection'){
            <div class="status-bg"> For Inspection</div>
            }
          </div>
          }

        </div>
        <!-- Machines -->
        <div class="field-block">
          <div class="label">
            <ion-icon name="cog-outline"></ion-icon>
            <span>Machines ({{ machinecodes.length }})</span>
          </div>

          <div *ngIf="!isEditing" class="value-list">
            <span *ngFor="let machine of machinecodes" class="chip">
              {{ getMachineName(machine) }}
            </span>
          </div>

          @if(isEditing){
          <app-select-control [multiple]="true" [items]="machinedata" key="ic" keyname="ina" [(ngModel)]="machinecodes"
            name="machinecodes">
          </app-select-control>
          }

        </div>

        <!-- Operators -->
        <div class="field-block">
          <div class="label">
            <ion-icon name="person-outline"></ion-icon>
            <span>Operators ({{ operatorcodes.length }})</span>
          </div>

          @if(!isEditing){
          <div class="value-list">
            <span *ngFor="let op of operatorcodes" class="chip">
              {{ getEmployeeName(op) }}
            </span>
          </div>
          }



          @if(isEditing){
          <app-select-control [multiple]="true" [items]="empolyes" key="employeecode" keyname="employeename"
            [(ngModel)]="operatorcodes" name="operatorcodes">
          </app-select-control>
          }

        </div>

        <!-- Qty -->
        <div class="field-block">
          <div class="label">
            <ion-icon name="cube-outline"></ion-icon>
            <span>Quantity</span>
          </div>

          @if(!isEditing){
          <div class="value-text">
            {{ totalQty }}
          </div>
          }


          <!-- <ion-input *ngIf="isEditing" type="number" [(ngModel)]="qty" class="edit-input"></ion-input> -->

          @if(isEditing){
          <app-number-control [btnClicked]="btnClicked" [(ngModel)]="totalQty" name="totalQty">
          </app-number-control>
          }


        </div>

        <!-- Action -->
        <div class="action-btn">
          <ion-button shape="round" color="primary" (click)="toggleEdit()">
            <ion-icon slot="start" [name]="isEditing ? 'save-outline' : 'create-outline'"></ion-icon>
            {{ isEditing ? 'Save' : 'Edit' }}
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    }
    @else if(from === 'processcompleted'){

    <div class="content p-0 detailed-view">


      <ion-card class="details-card">
        <ion-card-header>
          <div class="d-flex align-items-center">
            <div class="card-title"> {{ processentry?.pna }}</div>
            <div class="ms-auto d-flex align-items-center">
              <ion-badge>Inprocess</ion-badge>
            </div>
          </div>


        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="6" class="info-col">
                <div class="info-label">Job Order No</div>
                <div class="info-value">{{processid?.jono}}</div>
              </ion-col>
              <ion-col size="6" class="info-col right-align">
                <div class="info-label">Date</div>
                <div class="info-value">{{processid?.joed}}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" class="info-col">
                <div class="info-label">Product Name</div>
                <div class="info-value">{{processid?.ina}}</div>
              </ion-col>
              <ion-col size="6" class="info-col right-align">
                <div class="info-label">Product ID</div>
                <div class="info-value">{{processid?.refn}}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" class="info-col">
                <div class="info-label">Machine</div>
                <div class="info-value">
                  <span *ngFor="let machine of machinecodes" class="chip">
                    {{ getMachineName(machine) }}
                  </span>
                </div>
              </ion-col>
              <ion-col size="6" class="info-col right-align">
                <div class="info-label">Operator</div>
                <div class="info-value">
                  <span *ngFor="let op of operatorcodes" class="chip">
                    {{ getEmployeeName(op) }}
                  </span>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" class="info-col">
                <div class="info-label">Qty</div>
                <ion-badge color="primary" class="qty-badge">{{ totalQty }}</ion-badge>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>


      <ion-card class="running-section">
        <ion-card-header>
          <div class="running-title">Running Section</div>
          <div class="start-time-label">Start Time: 22 : 00</div>
        </ion-card-header>
        <ion-card-content>
          <div class="running-details">
            <p>Process is currently running... Monitor progress below.</p>

          </div>
        </ion-card-content>
      </ion-card>

    </div>


    <!-- <div class="footer-buttons">
      <ion-button expand="block" color="warning">
        <ion-icon name="pause-circle-outline" slot="start"></ion-icon>
        Pause
      </ion-button>

      <ion-button expand="block" color="success">
        <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
        Complete
      </ion-button>
    </div> -->
    }
  </div>






</ion-content>

<div class="start-button-container">
  @if(from === 'processplan'){
  <ion-button (click)="submitfinal()" expand="block" class="start-button">
    Start
  </ion-button>
  }
  @else if(from === 'processcompleted'){
  <ion-button expand="block" color="success" (click)="submitfinal()">
    <ion-icon name="checkmark-done-circle-outline" slot="start"></ion-icon>
    Complete
  </ion-button>
  }
</div>
<app-footer></app-footer>