<ion-header>
  <app-header></app-header>
  <div class="content-head d-flex align-items-center">
    <img src="assets/arrow-left.png" (click)="goBack()">
    <div class="fs-20-600 ms-4">Job Order Status Detail</div>
  </div>
  <div class="">

    <div class="content-sec-card">

      @if(dirConvertion){
        <div class="content-sec-modern">
          <ion-card>
            <ion-card-content>
              <ion-grid>
                <!-- Row 1: Product ID & Product Name -->
                <ion-row>
                  <ion-col size="6" class="info-col">
                    <div class="info-label">Product ID</div>
                    <div class="info-value">{{processid?.refn}}</div>
                  </ion-col>
                  <ion-col size="6" class="info-col right-align">
                    <div class="info-label">Product Name</div>
                    <div class="info-value">{{processid?.ina}}</div>
                  </ion-col>
                </ion-row>
  
                <!-- Row 2: Job Order No & Date -->
                <ion-row>
                  <ion-col size="6" class="info-col">
                    <div class="info-label">Job Order No</div>
                    <div class="info-value">{{processid?.jono}}</div>
                  </ion-col>
                  <ion-col size="6" class="info-col right-align">
                    <div class="info-label">Date</div>
                    <div class="info-value">{{processid?.joed}}</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </div>
      }
    




    </div>

  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content p-0">
    <ion-card>
      <ion-card-content class="modern-section">
        <div class="process-caption">
          <div class="caption-label">Process Name</div>
          <div class="caption-value">
            <ion-icon name="briefcase-outline"></ion-icon>
            
              @if (dirConvertion) { 
              {{ processentry?.pna }}
             } @else {
              {{ detailData?.processname }}
            } 
          </div>
        </div>
        <!-- Machines -->
        <div class="field-block">
          <div class="label">
            <ion-icon name="cog-outline"></ion-icon>
            <span>Machines ({{ machinecodes.length }})</span>
          </div>
  
          <div *ngIf="!isEditing" class="value-list">
            <span *ngFor="let machine of machinecodes" class="chip">
              {{ getMachineName(machine) }}
            </span>
          </div>
  
          <!-- <ion-select *ngIf="isEditing" [(ngModel)]="machines" multiple="true" class="edit-select">
            <ion-select-option *ngFor="let opt of allMachines" [value]="opt">{{ opt }}</ion-select-option>
          </ion-select> -->

          @if(isEditing){
            <app-select-control  [multiple]="true"  [items]="machinedata" key="ic" keyname="ina"
            [(ngModel)]="machinecodes" name="machinecodes" >
           </app-select-control>
          }

        </div>
  
        <!-- Operators -->
        <div class="field-block">
          <div class="label">
            <ion-icon name="person-outline"></ion-icon>
            <span>Operators ({{ operatorcodes.length }})</span>
          </div>
  
          @if(!isEditing){
            <div class="value-list">
              <span *ngFor="let op of operatorcodes" class="chip">
                {{ getEmployeeName(op) }}
              </span>
            </div>
          }
          
  
          <!-- <ion-select *ngIf="isEditing" [(ngModel)]="operators" multiple="true" class="edit-select">
            <ion-select-option *ngFor="let opt of allOperators" [value]="opt">{{ opt }}</ion-select-option>
          </ion-select> -->
          @if(isEditing){
            <app-select-control  [multiple]="true"  [items]="empolyes" key="employeecode" keyname="employeename"
            [(ngModel)]="operatorcodes" name="operatorcodes" >
           </app-select-control>
          }
          
        </div>
  
        <!-- Qty -->
        <div class="field-block">
          <div class="label">
            <ion-icon name="cube-outline"></ion-icon>
            <span>Quantity</span>
          </div>
  
          @if(!isEditing){
            <div class="value-text">
              {{ totalQty }}
            </div>
          }
        

          <!-- <ion-input *ngIf="isEditing" type="number" [(ngModel)]="qty" class="edit-input"></ion-input> -->
          
          @if(isEditing){
            <app-number-control [btnClicked]="btnClicked" [(ngModel)]="totalQty" name="totalQty">
            </app-number-control>
          }
         

        </div>
  
        <!-- Action -->
        <div class="action-btn">
          <ion-button shape="round" color="primary" (click)="toggleEdit()">
            <ion-icon slot="start" [name]="isEditing ? 'save-outline' : 'create-outline'"></ion-icon>
            {{ isEditing ? 'Save' : 'Edit' }}
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  
  
  
  
  
  
</ion-content>

<div class="start-button-container">
  <ion-button (click)="submitfinal()" expand="block" class="start-button" >
    Start
  </ion-button>
</div>
<app-footer class="m-2"></app-footer>