<ion-header>
  <app-header></app-header>
  <div class="content-head d-flex align-items-center">
    <img src="assets/arrow-left.png" (click)="goBack()">
    <div class="fs-20-600 ms-4">Job Order Status Detail</div>
  </div>
  <div class="">

    <div class="content-sec-card">

      <div class="content-sec-modern">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <!-- Row 1: Product ID & Product Name -->
              <ion-row>
                <ion-col size="6" class="info-col">
                  <div class="info-label">Product ID</div>
                  <div class="info-value">PRECITECHP001</div>
                </ion-col>
                <ion-col size="6" class="info-col right-align">
                  <div class="info-label">Product Name</div>
                  <div class="info-value">Gear Drum C.I OD 485 x ID 220 ...</div>
                </ion-col>
              </ion-row>

              <!-- Row 2: Job Order No & Date -->
              <ion-row>
                <ion-col size="6" class="info-col">
                  <div class="info-label">Job Order No</div>
                  <div class="info-value">11_JOBE1042526</div>
                </ion-col>
                <ion-col size="6" class="info-col right-align">
                  <div class="info-label">Date</div>
                  <div class="info-value">31 Aug 2025</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>




    </div>

  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content p-0">
    <ion-card>
      <ion-card-content class="modern-section">
        <div class="process-caption">
          <div class="caption-label">Process Name</div>
          <div class="caption-value">
            <ion-icon name="briefcase-outline"></ion-icon>
           Drilling
          </div>
        </div>
        <!-- Machines -->
        <div class="field-block">
          <div class="label">
            <ion-icon name="cog-outline"></ion-icon>
            <span>Machines ({{ machines.length }})</span>
          </div>
  
          <div *ngIf="!isEditing" class="value-list">
            <span *ngFor="let machine of machines" class="chip">{{ machine }}</span>
          </div>
  
          <ion-select *ngIf="isEditing" [(ngModel)]="machines" multiple="true" class="edit-select">
            <ion-select-option *ngFor="let opt of allMachines" [value]="opt">{{ opt }}</ion-select-option>
          </ion-select>
        </div>
  
        <!-- Operators -->
        <div class="field-block">
          <div class="label">
            <ion-icon name="person-outline"></ion-icon>
            <span>Operators ({{ operators.length }})</span>
          </div>
  
          <div *ngIf="!isEditing" class="value-list">
            <span *ngFor="let op of operators" class="chip">{{ op }}</span>
          </div>
  
          <ion-select *ngIf="isEditing" [(ngModel)]="operators" multiple="true" class="edit-select">
            <ion-select-option *ngFor="let opt of allOperators" [value]="opt">{{ opt }}</ion-select-option>
          </ion-select>
        </div>
  
        <!-- Qty -->
        <div class="field-block">
          <div class="label">
            <ion-icon name="cube-outline"></ion-icon>
            <span>Quantity</span>
          </div>
  
          <div *ngIf="!isEditing" class="value-text">{{ qty }}</div>
          <ion-input *ngIf="isEditing" type="number" [(ngModel)]="qty" class="edit-input"></ion-input>
        </div>
  
        <!-- Action -->
        <div class="action-btn">
          <ion-button shape="round" color="primary" (click)="toggleEdit()">
            <ion-icon slot="start" [name]="isEditing ? 'save-outline' : 'create-outline'"></ion-icon>
            {{ isEditing ? 'Save' : 'Edit' }}
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  
  
  
  
  
  
</ion-content>

<div class="start-button-container">
  <ion-button (click)="goToJobOrdercompleted()" expand="block" class="start-button" >
    Start
  </ion-button>
</div>
<app-footer class="m-2"></app-footer>