<app-header></app-header>

<ion-content [fullscreen]="true">
   <div class="content">
      <div class="content-head d-flex align-items-center">
        <img src="assets/arrow-left.png" (click)="goBack()">
        <div class="fs-20-600 ms-4">Profile</div>
      </div>
      <div class="content-body">
            <div class="profile-container">

            </div>
            <div class="mt-4">
              <div class="fs-20-600">Mr. Rangaraj Krishnamoorthy</div>
              <div class="fs-14-400 mt-2 text-center">Designation</div>
            </div>
            <div class="mt-5">
              <div class="fs-14-400 text-center">Personal Information</div>
              <div class="fs-20-600 mt-2">+91 9710-833-683</div>
              <div class="fs-14-500 mt-2">samplemail@gmail.com</div>
            </div>
            <div class="mt-5">
               <div class="fs-14-400 text-center">Location</div>
               <div class="fs-14-500 mt-1">23, MKV Colony, TVK Nagar, </div>
               <div class="fs-14-500 ms-2">Besant Nagar, Chennai.</div>
            </div>
            <div class="mt-5">
               <div class="fs-14-400">Employment id</div>
               <div class="fs-20-600">369852147</div>
            </div>
      </div>
   </div>
</ion-content>

<app-footer></app-footer>
