<ion-content>
  <div class="background-img">
    <div class="content">
      <img src="assets/jpeg-appicon_ec-service.jpg" alt="">
      <!-- <div class="signs">
        Signup
      </div> -->

      <!-- <img src="assets/Logo-login.png" alt=""> -->
    </div>
    <div class="content-2">
      <a href="https://eccrm.in/" target="_blank" rel="noopener noreferrer">
        <img src="assets/ECCRM Logo copy.png" alt="">
      </a>
    </div>
    <div class="content-body">
      <div class="set-corporateid">
        Login with
      </div>
    </div>
    <div class="content-body-2">

      <div class="paasing-set">
        <div class="margin-tops">
         
            <div class="button-container">
              <ion-button (click)="loginwithpass()" expand="block" class="custom-btn">
                Credentials
              </ion-button>
              <div class="or-text">Or</div>
              <ion-button (click)="loginwith()" expand="block" class="custom-btn">
                OTP
              </ion-button>
            </div>
      
          
        </div>

        <div class="margin-tops">
          <div class="customized-btns-login">
            <a (click)="goToCorpId()">Change Corporate ID</a>
            <!-- <ion-button  color="secondary">
            Register 
          </ion-button> -->
          </div>
        </div>
      </div>
    </div>


    <div class="content-footer">
      <a href="https://ecsoft.com/" target="_blank" rel="noopener noreferrer">
        <div class="name">

          <img class="default-logo" src="assets/icon/ECSOFT Logo 2025.png">

        </div>
      </a>
      <div class="allrights">
        All Rights Reserved | 2025
      </div>
    </div>

  </div>
</ion-content>

<!-- <review-form #popModal></review-form> -->