<ion-content>
  <div class="background-img">
    <div class="content">
        
       
    </div>
    <div class="content-boady">
    <img src="assets/icon/png_ec-sfa.png" alt="">
    <!-- <img src="assets/icon/cart-01 1.png" alt=""> -->
    </div>
    <div class="content-footer">
      <div class="allrights">
        All rights reserved
      </div>
      <a href="https://www.ecsoft.com" target="_blank" rel="noopener noreferrer">
        <img class="default-logo" src="assets/icon/ECSOFT Logo 2025.png">
      </a>
    </div>
  </div>
</ion-content>