ion-card {
    color: black;
    font-weight: 500;
}

.select {
    background-color: #1A1E44;

    // ion-card {
        color: #ffffff !important;
    // }
}

.p-2 {
    padding: 0px 20px 5px 20px;
}