<ion-content >
  <div class="background-img">
    <div class="content">
      <!-- <img src="assets/icon/jpeg_ec-sfa.jpg" alt=""> -->
      <img src="assets/Group 1.png" alt="">
    </div>
    <div class="content-body">
      <div class="set-corporateid">
        Corporate Id
      </div>

      <!-- <div class="content-body-2"> -->
      <div class="paasing-set">
        <form #l="ngForm" (ngSubmit)="setcorporateid(l)">
          <div class="input-grp">
            <div class="text-start fs-15-500">Corporate ID</div>
            <app-input-control [errorTrue]="errorTrue" [(ngModel)]="user.corporatename" name="corporatename"
             class="input-corporateid"></app-input-control>
          </div>
          
        </form>
        <div class="margin-tops">
          <div (click)="setcorporateid(l)"  class="login-btn"> Submit</div>
        </div>

        <div class="margin-tops text-decoration-underline fs-14-500" (click)="onBtnClick()">
          New User ? Register Here
        </div>
      </div>
    </div>
    <!-- </div> -->
    <div class="content-footer">

      <!-- <div class="allrights">
      Forgot Password?
    </div> -->
      <a href="https://www.ecsoft.com" target="_blank" rel="noopener noreferrer">
        <img class="default-logo" src="assets/icon/ECSOFT Logo 2025.png">
      </a>
      <!-- <img class="default-logo" src="assets/icon/ecsoft_logo.png"> -->
    </div>

  </div>
</ion-content>

<my-component #popModal [from]="'ECSFA App'" (status)="getStatus($event)">
</my-component>