// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
    @include mat.theme((color: (primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        ));
}

body {
    // Default the application to a light color theme. This can be changed to
    // `dark` to enable the dark color theme, or to `light dark` to defer to the
    // user's system settings.
    color-scheme: light;

    // Set a default background, font and text colors for the application using
    // Angular Material's system-level CSS variables. Learn more about these
    // variables at https://material.angular.dev/guide/system-variables
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);

    // Reset the user agent margin.
    margin: 0;
}

// ion-header {
//     ion-toolbar {
//         padding-top: var(--ion-safe-area-top, 0);
//     }
// }

// ion-footer {
//     ion-toolbar {
//         padding-bottom: var(--ion-safe-area-bottom, 0);
//     }
// }


ion-app > ion-router-outlet ion-header ion-toolbar {
    padding-top: var(--ion-safe-area-top, 0);
  }
  
  ion-app > ion-router-outlet ion-footer ion-toolbar {
    padding-bottom: var(--ion-safe-area-bottom, 0);
  }

ion-modal ion-header ion-toolbar {
    padding-top: 0;
}

ion-modal ion-footer ion-toolbar {
    padding-bottom: 0;
}

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
@import "bootstrap/dist/css/bootstrap.min.css";



.form-group {
    .input-group {
        input {
            &:focus {
                border: 1px solid var(--ion-color-primary) !important;
                box-shadow: unset !important;
            }
        }
    }
}


:root {
    --ion-color-primary: rgba(45, 100, 102, 1);
    --ion-color-primary-rgb: 0, 0, 0;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #000000;
    --ion-color-primary-tint: #1a1a1a;


    --ion-color-secondary: rgba(158, 216, 218, 0.35);
    --ion-color-secondary-rgb: 216, 218, 191;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #bec0a8;
    --ion-color-secondary-tint: #dcdec5;
}



//global css

.fs-12-400 {
    font-size: 12px;
    font-weight: 400;
    font-family: Inter;
    color: rgba(0, 0, 0, 1);
}

.fs-12-700 {
    font-size: 12px;
    font-weight: 700;
    font-family: Inter;
    color: rgba(0, 0, 0, 1);
}

.fs-13-400 {
    font-size: 13px;
    font-weight: 400;
    font-family: Inter;
    color: rgba(0, 0, 0, 1);
}

.fs-14-300 {
    font-family: Inter;
    font-weight: 300;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

.fs-14-400 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

.fs-14-500 {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

.fs-15-500 {
    font-size: 15px;
    font-weight: 500;
    font-family: Inter;
    color: rgba(0, 0, 0, 1);
}

.fs-16-400 {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}

.fs-16-500 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.fs-20-600 {
    font-size: 20px;
    font-weight: 600;
    font-family: Inter;
    color: rgba(0, 0, 0, 1);
}

.fs-29-600 {
    font-size: 29px;
    font-weight: 600;
    font-family: Inter;
    color: rgba(0, 0, 0, 1);
}

.blue-btn {
    font-size: 14px;
    font-weight: 500;
    font-family: Inter;
    height: 28px;
    border-radius: 4px;
    border: 1px solid rgba(74, 179, 161, 1);
    background-color: rgba(74, 179, 161, 0.35);
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.violet-btn {
    font-size: 14px;
    font-weight: 500;
    font-family: Inter;
    height: 28px;
    border-radius: 4px;
    border: 1px solid rgba(74, 107, 179, 1);
    background-color: rgba(74, 107, 179, 0.35);
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.waiting-btn {
    font-size: 14px;
    font-weight: 500;
    font-family: Inter;
    height: 28px;
    border-radius: 4px;
    border: 1px solid rgba(243, 143, 72, 1);
    background-color: rgba(243, 143, 72, 0.35);
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.menu-btn {
    font-size: 14px;
    font-weight: 500;
    font-family: Inter;
    height: 28px;
    border-radius: 4px;
    border: 1px solid rgba(45, 100, 102, 0.75);
    background-color: rgba(45, 100, 102, 1);
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: rgba(255, 255, 255, 1);
}



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Inter,
}